.top-bar {
    display: flex;
    flex-direction: row;
}

.heading {
    text-align: center;
    margin-bottom: 0px;
}

.details {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.list_render {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listred {
    color: red;
}
.listgreen {
    color: green
}
.listblack {
    color: black;
}

.RadixNode {
    /* For the box style */
    width: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
    /* For the containers */
    display: flex;
    flex-direction: row;
    /* For the contents inside */
    justify-content: center;
}